/* contact hero end*/
.contact-img {
    background-size: cover;
}
.contact-hero h1 {
    background-color: #1f2b3b;
    max-width: fit-content;
    padding: 12px;
    border-radius: 5px;
    color: #fff;
    width: 165px;
    text-align: center;
}

.row.contact-hero {
    padding: 113px;
    margin-left: 3px;
}

/* contact hero end*/

.contact-info-bg{
    background-color: #F2F5F0;
}


.contact-info p{
    font-size: 1.4rem;
    line-height: 1.55;
} 
.contact-info {
    margin: 50px 0;
}

