{% extends 'base.html' %}
{% load static i18n %}



{% block body %}
<section class="cookies-wrap">
    <div class="container">
        <div class="row">
           <div class="imprint">
              <h1 class="mt-5">Privacy Policy and Cookies</h1>
              <div class="imprint-content imprint-margin">
                <p class="company-about-us-p1"><b>Matplus Commitment to Data Privacy Protection</b></p>
                <p class="company-about-us-p1">Protecting the security and privacy of your personal data is important to Matplus; therefore, we conduct our business in compliance with applicable laws on data privacy protection and data security. We hope the policy outlined below will help you understand what data Matplus may collect, how we uses and safeguards that data and with whom we may share it.</p>
               
              </div>
              <div class="imprint-content mt-3">
                <p class="company-about-us-p1"><b>Personal data</b></p>
                <p class="company-about-us-p1">Through our Web sites, Matplus will not collect any personal data about you (e.g. your name, address, telephone number or e-mail address), unless you voluntarily choose to provide us with it (e.g. by registration, survey), respectively, provide your consent, or unless otherwise permitted by applicable laws and regulations for the protection of your personal data.</p>
              </div>

              <div class="imprint-content mt-3">
                <p class="company-about-us-p1"> <b>Purpose of Use</b></p>
                <p class="company-about-us-p1">When you do provide us with personal data, we usually use it to respond to your enquiry, process your order or provide you access to specific information or offers. Also, to support our customer relationship with you:.</p>
                <p >
                    <ul>
                        <li class="company-about-us-p1">we may use personal data to contact you about a Matplus offer in support of your business needs or to conduct online surveys to understand better our customers’ needs</li>
                    </ul>
                </p>
                <p class="company-about-us-p1">If you choose not to have your personal data used to support our customer relationship (especially direct marketing or market research), we will respect your choice. We do not sell or otherwise market your personal data to third parties, except to Matplus affiliates.</p>

                <p  class="company-about-us-p1 mt-4"><b>Communications or Utilisation Data</b></p>
                <p class="company-about-us-p1">Through your use of telecommunications services to access our Web site, your communications data (e.g. Internet protocol address) or utilisation data (e.g. information on the beginning, end and extent of each access, and information on the telecommunications services you accessed) are technically generated and could conceivably relate to personal data. To the extent that there is a compelling necessity, the collection, processing and use of your communications or utilisation data will occur and will be performed in accordance with the applicable data privacy protection legal framework.</p>

                <p  class="company-about-us-p1">Non-Personal Data Collected Automatically</p>
                <p class="company-about-us-p1">When you access our Web sites, we may automatically (i.e., not by registration) collect non-personal data (e.g. type of Internet browser and operating system used, domain name of the Web site from which you came, number of visits, average time spent on the site, pages viewed). We may aggregate this data (so that it is anonymous) and then use and share it with our worldwide affiliates to monitor the attractiveness of our Web sites and improve their performance or content.</p>

                <p class="company-about-us-p1 mb-3"><b>“Cookies” – Information Stored Automatically on Your Computer</b></p>

                <p  class="company-about-us-p1">Cookies are small text files that are placed on your computer by Web sites that you visit. They are widely used in order to make Web sites work, as well as to provide valuable feedback on how visitors use the Web site. Visit <a href="https://www.aboutcookies.org/" class="cae-link">www.aboutcookies.org</a> if you would like more details.</p>

                <p class="company-about-us-p1">When you visit one of our Web sites, we may store a cookie on your computer. Cookies help us in many ways, for example, by allowing us to tailor a Web site to better match your interests; to make key parts of the site work, like registration and contact forms; and to ensure that any content we provide to you can be tailored specifically to your interests. If you would like more details about the cookies we may store on your computer please <a href="https://www.siemens.com/uk/en.html" class="cae-link">click here</a>.</p>

                <p class="company-about-us-p1">If you do not wish to receive cookies, please configure your Internet browser to delete all cookies from your computer’s hard drive, block all cookies or to receive a warning before a cookie is stored.</p>

                <p class="company-about-us-p1">Activating, de-activating and deleting cookies</p>

                <p class="company-about-us-p1">If you do not wish to receive cookies, please configure your Internet browser to delete all cookies from your computer’s hard drive, block all cookies or to receive a warning before a cookie is stored. This is easy to do – you can find more information on how to activate, de-activate and/or delete cookies in the instructions and/or Help-function of your browser or by clicking the corresponding link below:</p>

                <p class="company-about-us-p1"><b>Security</b></p>

                <p class="company-about-us-p1">To protect your personal data against accidental or unlawful destruction, loss or alteration and against unauthorised disclosure or access, Siemens uses appropriate technical and organisational security measures.</p>

                <p class="company-about-us-p1"><b>Links to Other Web Sites</b></p>

                <p class="company-about-us-p1">Matplus Websites contain links to other Websites. Matplus is not responsible for the privacy practices or the content of other Websites.</p>

                <p class="company-about-us-p1 "><b>Questions and Comments</b></p>

                <p class="company-about-us-p1 pb-5">If you have any questions or comments about the Matplus Data Privacy Protection Policy, please click on “Contact” and send us your questions and feedback. Our Data Privacy Protection Policy may change from time to time and when it does we will post our revised Data Privacy Protection Policy on this page.  Please check this page regularly to keep up-to-date.</p>
                
              </div>
           </div>
        </div>
    </div>
</section>
{% endblock body %}
    