{% extends 'base.html' %}
{% load static i18n%}


{% block body %}
    <section class="imprint-wrap">
        <div class="container">
            <div class="row">
               <div class="imprint">
                  <h1 class="mt-5">Imprint</h1>
                  <div class="imprint-content imprint-margin">
                    <h4>Matplus GmbH</h4>
                    <p class="company-about-us-p1">Tel.  +49 (0)202 29 78 97 80</p>
                    <p class="company-about-us-p1">Fax. +49 (0)202 29 79 97 89</p>
                    <p class="company-about-us-p1">E-Mail: contact@matplus.eu</p>
                    <p class="company-about-us-p1">Hofaue 55</p>
                    <p class="company-about-us-p1">D-42103 Wuppertal/Germany</p>
                  </div>
                  <div class="imprint-content mt-3">
                    <h4>Managing director</h4>
                    <p class="company-about-us-p1">(responsible for the content of this website)</p>
                    <p class="company-about-us-p1">Dr. Uwe Diekmann</p>
                    <p class="company-about-us-p1">Registered Office: Wuppertal</p>
                    <p class="company-about-us-p1">Register of Companies: HRB 28757 | Registered at: Wuppertal Local</p>
                    <p class="company-about-us-p1">VAT.-ID: DE 815 413 131</p>
                  </div>
                  <div class="imprint-content mt-3">
                    <h4>Disclaimer</h4>
                    <p class="company-about-us-p1 pb-5">The content of our website has been compiled with care. However, we cannot assume any liability for the up-to-dateness, completeness or accuracy of any of the pages. Our website contains links to the websites of third parties (“external links”). As the content of these websites is not under our control, we are not responsible for such external content. In any case, the provider of information of the linked websites is liable for the content and accuracy of the information provided.</p>
                  </div>
               </div>
            </div>
        </div>
    </section>
{% endblock body %}
    