{% extends 'base.html' %}
{% load static i18n%}


{% block body %}
<section class="privacy-wrap">
    <div class="container">
        <div class="row">
           <div class="imprint">
              <h1 class="mt-5">Privacy Policy</h1>
              <div class="imprint-content imprint-margin">
                <h5><b>Matplus respects your private sphere</b></h5>
                <p class="company-about-us-p1">The protection of your private sphere during the processing of personal data as well as the security of all business data is a major concern for us that we take into consideration in our business processes. We process personal data, collected during your visit to our online offers confidentially and only in accordance with the legal directives.</p>
                <p class="company-about-us-p1">Data protection and information security are an integral part of our corporate policy.</p>
            
              </div>
              <div class="imprint-content mt-4">
                <h5><b>Responsible authority and contact</b></h5>
                <p class="company-about-us-p1">Responsible for the processing of your data is:</p>
                <p class="company-about-us-p1">Matplus GmbH</p>
                <p class="company-about-us-p1">Hofaue55</p>
                <p class="company-about-us-p1">42103 Wuppertal</p>
                <p class="company-about-us-p1">E-mail: datenschutz@matplus.eu</p>
              </div>
              <div class="imprint-content mt-3">
                <h5><b>Processing of person-related data</b></h5>
                <p class="company-about-us-p1 ">3.1 · Processed data categories</p>
                <p class="company-about-us-p1 ">Communication data (e.g. name, telephone number, e-mail address, address, IP address) are processed.</p>
                <p class="company-about-us-p1 ">Personal data are all the information which relate to an identified or identifiable natural person, for example, names, addresses, telephone numbers or e-mail addresses which are the expression of the identity of a person.</p>
                <p class="company-about-us-p1">We process personal data only when there is a statutory legal basis for doing so or if you have given us your consent, e.g. in the scope of a registration.</p>
                <p class="company-about-us-p1">3.3. · Processing purposes and legal grounds</p>
                <p class="company-about-us-p1">Our delegated service providers and we process your personal data for the following objectives:</p>
                <p class="company-about-us-p1">3.3.1 · Provision of this online offer</p>
                <p > <ul>
                    <li class="company-about-us-p1">Legal basis: Predominantly, justified interest in direct marketing on our part, as long as this is carried out in compliance with data protection regulations and competition law regulations</li>
                </ul><p>
                <p class="company-about-us-p1">3.3.2 · In reply to user inquiries in the framework of a contact form</p>
                <p>
                    <ul>
                    <li class="company-about-us-p1">Legal basis: Predominantly, justified interest in direct marketing on our part and in the enhancement of our products and services, as long as this is carried out in compliance with data protection regulations and competition law regulations res. contractual performance resp. consent</li>
                    </ul> 
                </p>
                <p  class="company-about-us-p1">3.3.3 · Determination of malfunctions and for safety reasons</p>
                <p>
                    <ul>
                        <li class="company-about-us-p1">Legal basis: Fulfilment of our legal obligations in the field of data security and predominantly, justified interest in the rectification of malfunctions and the security of our offers</li>
                    </ul>
                </p>
                <p class="company-about-us-p1">3.3.4 · Our own and third party advertising as well as market research and reach measurement in accordance with the legally</p>
                <p>
                    <ul>
                        <li class="company-about-us-p1">Legal basis: Consent or predominantly, justified interest in direct marketing on our part, as long as this is carried out in compliance with data protection regulations and competition law regulations.</li>
                    </ul>
                </p>
                <p class="company-about-us-p1">3.3.5 · Safeguarding and defending our rights</p>
                <p>
                    <ul>
                        <li class="company-about-us-p1">Legal basis: Justified interest on our part in the assertion and defense of our rights.</li>
                    </ul>
                </p>
                <p  class="company-about-us-p1">3.4 · Log files</p>
                <p  class="company-about-us-p1">Whenever you use the Internet, specific information will be automatically transmitted from your Internet browser and stored by us in so-called log files.</p>
                <p  class="company-about-us-p1">We save the log files for the determination of malfunction and for safety reasons (e.g. for the investigation of attempted attacks) for a short period and delete them afterwards. If a further retention of log files is required for evidence purposes, these will be exempted from deletion until the final clarification of the respective incident and can be handed over to investigating authorities in individual cases.</p>
                <p  class="company-about-us-p1">The following information, in particular, is stored in the log files:</p>
                <p>
                    <ul>
                        <li  class="company-about-us-p1">IP address (Internet protocol address) of the end device from which the online offer is accessed;</li>
                        <li  class="company-about-us-p1">Internet address of the website from where the online offer has been accessed (so-called origin or referrer URL);</li>
                        <li  class="company-about-us-p1">Name of the service provider through which access to the online offer is achieved;</li>
                        <li  class="company-about-us-p1">Name of the retrieved files or information;</li>
                        <li  class="company-about-us-p1">Date and time as well as duration of the access;</li>
                        <li  class="company-about-us-p1">Transferred data volume;
                        </li>
                        <li  class="company-about-us-p1">Operating system and information on the Internet browser used, including add-ons (e. B. for the flash player);</li>
                        <li  class="company-about-us-p1">http status code (e.g. “Inquiry successful” or “Requested file not found”).</li>
               
                    </ul>
                </p>
                <p  class="company-about-us-p1">3.5 · Transfer of data</p>
                <p  class="company-about-us-p1">3.5.1 · Transfer of data to other responsibilities</p>
                <p  class="company-about-us-p1">We will principally only transfer your personal data to other responsible parties insofar as if this is necessary for the contract performance, we or the third party has a predominantly justified interest in the transfer or if you have given your consent. You will find details concerning the legal bases in section “Processing purposes and legal bases” (see no. 3.3). It will be explained in this data protection policy if data are transferred on the basis of a predominantly justified concern.</p>

                <p class="company-about-us-p1">Moreover, data can also be transferred to other responsible parties, insofar as we are obligated to do this on the basis of statutory regulations or due to enforceable official or judicial order.</p>

                <p class="company-about-us-p1">3.5.2 · Transfer of data to service providers</p>
                <p class="company-about-us-p1">We assign tasks such as marketing services, programming, data hosting and hotline services to external service providers. We have selected these service providers with utmost care and monitor them on a regular basis, in particular with regard to their diligent handling and protection of the data stored by them. All providers are bound to confidentiality and adherence to the legal specifications by us.</p>
                <p class="company-about-us-p1">3.5.3 · Transfer to recipients outside the EEA</p>
                <p class="company-about-us-p1">We can also transfer personal data to recipients with headquarters outside the EEA in so-called non-member countries. In this case, we ensure before transfer that the recipient either possesses an appropriate standard of data protection (e.g. on the basis of an adequacy decision of the EU Commission for the relevant country or the agreement of so-called EU standard contractual causes of the European Union with the recipient) or if you have consented to the transfer.</p>
                <p class="company-about-us-p1">You can obtain an overview of the recipients in non-member countries and a copy of the concrete agreed regulations to guarantee the appropriate standard of data protection from us. Please use the information contained in section “Responsible authority and contact” (see no. 2).</p>
                <p class="company-about-us-p1">3.6 · Duration of storage; retention periods</p>

                <p class="company-about-us-p1">On principle, we store your data for as long as it takes for the provision of our online offer and the associated services or when we have a justified interest in further storage (e.g. after the fulfilment of a contract, we could still have a justified interest in postal marketing). In all other cases, we will delete your personal data with the exception of such data that we are obliged to retain for the fulfilment of legal obligations (e.g. as a result of fiscal and commercial retention periods, we are obliged to retain documents such as contracts and invoices for a specific period of time).</p>

                <h5><b>Use of cookies</b></h5>
                <p class="company-about-us-p1">4.1 · General</p>
                <p class="company-about-us-p1">Cookies are small text files which are saved on your computer when you visit a website. If you call up this online offer again, your browser will send the content of the cookies back to the respective provider and thus enable a recognition of the end device. The read out of cookies enables us to optimally design our online offer for you and to facilitate your utilization.</p>

                <p class="company-about-us-p1">4.2 · Switch-off and deletion of cookies</p>
                <p class="company-about-us-p1">Our website uses mandatory cookies (see No. 4.3.1). Your consent is not required for the use of mandatory cookies. Mandatory cookies cannot be deactivated via the “Privacy settings” function for this website. However, you can generally deactivate all cookies via your browser at any time. This can, however, mean that certain areas of the website may be restricted in their functionality.</p>

                <p class="company-about-us-p1">When you visit our websites for the first time, you will be asked in a cookie layer pop-up whether you accept the convenience-related cookies (see No. 4.3.2.) that are set on our site. We enable you to retroactively control the usage of cookies, and you can revoke any consent already granted with future effect. Click on the “Privacy settings” link in the footer.</p>

                <p class="company-about-us-p1">The options under “Privacy settings” do not comprise cookies that have been set by other providers during visits to third-party Internet pages.
                </p>
                <p class="company-about-us-p1">However, using your browser you can delete or refuse all cookies at any time, or only accept certain types of cookies. You can find the relevant information in the help functions of your browser. However, this can also lead to the fact that you will no longer be able to access certain functions.</p>

                <p class="company-about-us-p1">Furthermore, there is the possibility to administer and deactivate the use of cookies by third parties by visiting the following website: </p>

                <p class="company-about-us-p1"> <a href="https://www.youronlinechoices.com/de/praferenzmanagement/" class="cae-link privacy-link">
                    http://www.youronlinechoices.com/de/praferenzmanagement</a></p>

                <p class="company-about-us-p1"> This website is not operated by us, meaning that we are neither responsible for, nor do we have any influence on its contents or availability.</p>

                <p class="company-about-us-p1"> 4.3 · Overview of the cookies we use</p>
                <p class="company-about-us-p1"> You will find an overview of the cookies we use in this section.</p>
                <p class="company-about-us-p1"> 4.3.1 · Absolutely necessary cookies</p>
                <p class="company-about-us-p1"> Certain cookies are absolutely necessary for us to be able to securely provide our online offer. This category includes:</p>
                <p class="company-about-us-p1"><b> Name:</b> privacy-accepted</p>
                <p class="company-about-us-p1"><b>Type:</b> Permanent </p>
                <p class="company-about-us-p1">This cookie will be stored for a maximum of 12 months or until you revoke your consent to the use of cookies. </p>
                <p class="company-about-us-p1"> <b>Purpose:</b> <br>Remembers your consent to the use of cookies for this website.</p>
                <p class="company-about-us-p1"> <b>Name:</b> privacy-settings</p>
                <p class="company-about-us-p1"> <b>Type: </b>Permanent <br>This cookie will be stored for 60 days max., or until you change your settings with regard to the use of cookies.</p>
                <p class="company-about-us-p1"> <b>Purpose:</b> <br>Remembers what cookies you have allowed for this website. <br>Stage 1: absolutely necessary cookies accepted <br>Stage 2: absolutely necessary and convenience cookies accepted</p>

                <p class="company-about-us-p1"> 4.3.2 · Convenience cookies</p>
                <p class="company-about-us-p1"> These cookies enable us to improve the usability and performance of our websites. This category includes:</p>
                <p class="company-about-us-p1"> <b>Name: </b> geoservice</p>
                <p class="company-about-us-p1"><b> Type: </b> Permanent <br>This cookie will be stored for 10 days max. or until you change your cookie settings.</p>
                <p class="company-about-us-p1"><b>Purpose:</b>  <br> Remembers your selection of region and country.</p>
                <p class="company-about-us-p1"> <b>Name:</b> privacy-social <br> <b>Type:</b> Permanent <br> This cookie will be stored for 60 days max. or until you change your cookie settings.</p>
                <p class="company-about-us-p1"> <b>Purpose:</b></p>
                <p class="company-about-us-p1"> Remembers your social media settings.</p>
                <p class="company-about-us-p1"> Social plugins</p>
                <p class="company-about-us-p1">In our online offer, we use so-called social plugins of different social networks; these will be described individually in this section. </p>
                <p class="company-about-us-p1"> On application of the plugins, your Internet browser will establish a direct connection to the servers of the respective social network. Hereby the relevant provider obtains the information that your Internet browser has called up the corresponding page of our online offer, even if you do not possess a user account with the provider or are not currently logged in with the provider. Log files (including the IP address) are directly transmitted from your Internet browser to a server of the relevant provider where they are stored if necessary. The headquarters of the provider or his/her server could be located outside the EU or the EEA (e.g. in the USA).</p>
                <p class="company-about-us-p1"> The plugins represent independent extensions of the providers of social networks. Therefore, we have no influence on the extent of the data collected and stored by the social network providers via the plugins.</p>

                <p class="company-about-us-p1"> The purpose and extent of the collection, the further processing of the data by the social network as well as your associated rights and setting options for the protection of your private sphere can be taken from the data protection notes of the respective social network.</p>

                <p class="company-about-us-p1"> You should not use the respective plugins if you do not want social network providers to obtain data concerning this online offer or to continue to use this data.</p>

                <p class="company-about-us-p1"> 5.1 · Social plugins with 2-click solution</p>

                <p class="company-about-us-p1"> With a so-called 2-click solution, we protect you from having your visits to our websites recorded and evaluated by social network providers as standard. When you access a page of our internet offer, which contains such plugins, these are initially deactivated. The plugins are not activated until you click the provided button.</p>
                <p class="company-about-us-p1">5.4 · Social plugins from LinkedIn </p>
                <p class="company-about-us-p1"> LinkedIn is provided by LinkedIn Corporation, 2029 Stierlin Court, Mountain View, CA 94043, USA (“LinkedIn”). You will find an overview of the plugins from LinkedIn and their appearance here: <a href="https://learn.microsoft.com/en-us/linkedin/consumer/integrations/self-serve/plugins?context=linkedin%2Fconsumer%2Fcontext" class="cae-link privacy-link">https://developer.linkedin.com/plugins</a>; you will find information on data protection at LinkedIn here: <a href="https://www.linkedin.com/legal/privacy-policy" class="cae-link privacy-link">https://www.linkedin.com/legal/privacy-policy</a>.</p>
                <h5 class="mt4 mb-4"><b>YouTube</b></h5>
                <p class="company-about-us-p1"> This online offer uses the video platform YouTube, which is provided by YouTube, LLC, 901 Cherry Ave. San Bruno, CA 94066, USA (“YouTube”). YouTube is a platform which allows the playback of audio and video files.</p>
                <p class="company-about-us-p1"> If you access a corresponding page of our offer, the embedded YouTube player will establish a connection to YouTube so that the video or audio file can be transmitted and played. In the process, data are also transmitted to YouTube as the responsible body. We are not responsible for the processing of this data by YouTube.</p>
                <p class="company-about-us-p1"> Further information concerning the extent and purpose of the collected data, on the further processing and utilization of your data by YouTube, on your rights and on your selectable data protection options can be found in the privacy policy of YouTube. </p>
                <p class="company-about-us-p1 mt-4 mb-4"> <b>External links</b></p>
                <p class="company-about-us-p1"> Our online offer can contain links to the websites of third parties − to providers who are not affiliated with us. After you click the link, we no longer have any influence on the collection, processing and utilization of any personal data that is transferred to third parties after clicking the link (for example, the IP address or the URL of the site on which the link is located), as our control of the conduct of third parties is then naturally withdrawn. We assume no responsibility for the processing of this kind of personal data by third parties.</p>
                <p class="company-about-us-p1 mt-4 mb-4"><b>Obligation to the provision of data</b> </p>

                <p class="company-about-us-p1"> In the scope of our business relationship, we require the personal data which are necessary for the commencement and performance of the business relationship and for the fulfilment of the associated contractual obligations or for the collection of which we are legally obligated. Without these data, we will not be in the position, as a rule, to conclude an agreement with you or to execute such an agreement.</p>

                <p class="company-about-us-p1">In the scope of the use of our online offer, in particular, it is necessary that you provide your IP address. We are unable to address your end device without your IP address. </p>

                <p class="company-about-us-p1"> In the scope of the utilization of our contact forms and our service chats, you must provide the personal data that are for answering the inquiry or for the execution of the order. Without these data, we will not be able to answer your inquiries or execute your orders or an existing communication would have to be terminated if necessary.</p>

                <p class="company-about-us-p1 mt-4 mb-4"> <b>Security</b></p>

                <p class="company-about-us-p1"> Our staff and our delegated service provider companies are obliged to maintain secrecy and to adhere to the regulations of the applicable data protection laws.</p>

                <p class="company-about-us-p1"> We take all necessary technical and organizational measures in order to ensure an appropriate standard of protection and to protect your data that are administered by us especially from the risks of unintentional or unlawful destruction, manipulation, loss, alteration or unauthorized disclosure or unauthorized access. Our security measures are continually improved according to the technological development.</p>

                <p class="company-about-us-p1 mt-4 mb-4"> <b>Your rights</b></p>

                <p class="company-about-us-p1">Please use the information contained in section “Responsible authority and contact” (see no. 2). to assert your rights. Please ensure that an unambiguous identification of your person is possible for us. </p>

                <p class="company-about-us-p1"> 11.1 · Right to information and disclosure:</p>
                
                <p class="company-about-us-p1"> You have the right to obtain information from us concerning the processing of your data. For this purpose, you can enforce a right to information in relation to the personal information that we process from you.</p>

                <p class="company-about-us-p1"> 11.2 · Right of rectification and deletion:</p>

                <p class="company-about-us-p1"> You can demand from us the rectification of false data and – insofar as the legal prerequisites are fulfilled – the completion or deletion of your data.</p>

                <p class="company-about-us-p1"> This does not apply to data which are necessary for invoicing or accounting purposes or are subject to the statutory retention obligation. Insofar as the access to such data is not required, the processing thereof will be restricted (see below).</p>

                <p class="company-about-us-p1"> 11.3 · Restriction of processing:</p>

                <p class="company-about-us-p1"> You can demand from us the restriction of the processing of your data insofar as the legal prerequisites are fulfilled.</p>
                
                <p class="company-about-us-p1"> 11.4 · Data portability:</p>

                <p class="company-about-us-p1"> You will continue to have the right to obtain data that you have provided to us transmitted in a structured, conventional and machine-readable form or as far as this is technically feasible, to demand that the data are transmitted to a third party.</p>

                <p class="company-about-us-p1"> 11.5 · Right of objection</p>
                
                <p class="company-about-us-p1"> 11.5.1 · Case-related right of objection</p>

                <p class="company-about-us-p1">Insofar as we undertake processing of data on the basis of a predominantly justified interest, as represented in this data protection policy, you have the right to file an objection to this processing, at any time, for reasons resulting from your special situation. </p>

                <p class="company-about-us-p1"> We will then discontinue the processing of your data, unless we can prove, in accordance with the statutory regulations, mandatory reasons worthy of protection for further processing, which outweigh your interests, rights and liberties, or if the further processing serves the assertion, exercising or defending of legal claims.</p>

                <p class="company-about-us-p1"> 11.5.2 · Objection against the processing of data for direct marketing purposes</p>

                <p class="company-about-us-p1"> Furthermore, you can file an objection to the processing of your personal data for commercial purposes at any time (“objection to advertising”). Please take into consideration the fact that there could be an overlapping between your objection and the utilization of your data in the scope of an ongoing campaign.</p>

                <p class="company-about-us-p1"> 11.6 · Rights of revocation</p>

                <p class="company-about-us-p1"> If you have given us your consent to the processing of your data, you can revoke this with future effect at any time. This also applies to the revocation of declarations of consent, granted to us prior to the validity of the DSGVO, therefore prior to 25. May 2018. The legality of the processing of your data shall remain unaffected unless revoked.</p>

                <p class="company-about-us-p1">11.7 · Right to appeal to the supervisory authority </p>
                
                <p class="company-about-us-p1">You have the right to submit an appeal to a data protection supervisory authority. For this purpose, you can refer to the data protection supervisory authority, which is competent for your place of residence of federal state or to the data protection supervisory authority which is competent for our group. The data protection supervisory authority responsible for us is the State Commissioner for Data Protection and Freedom of Information of Baden-Württemberg.</p>

                <p class="company-about-us-p1 my-4"> <b>Children</b></p>

                <p class="company-about-us-p1"> This online offer is not directed at children under an age of 16 years.</p>

                <p class="company-about-us-p1 my-4"> <b>Change of the data protection policy</b></p>

                <p class="company-about-us-p1"> We reserve the right to make modifications to our security and data protection measures, insofar as this is necessary due to the technical development. In these cases, we will also adapt our data protection policy accordingly. Therefore, please note the currently valid version of our data protection policy.

                </p>

                <p class="company-about-us-p1 pb-5">Date of last revision: 11/08/2021 </p>
                
             
                
              </div>
           </div>
        </div>
    </div>
</section>
{% endblock body %}
    