/* imprint start*/

.imprint-wrap{
    background-color: #F2F5F0;
}
.imprint h1{
    font-size: 3rem;
}
.imprint-content h4{
    font-size: 1.9rem;
}
.imprint-margin{
    margin-top: 160px;
}

/* privacy-wrap */

.privacy-wrap{
    background-color: #F2F5F0;
}

/* cookies start */

.cookies-wrap{
    background-color: #F2F5F0;
}

/* notice */

.notice-wrap{
    background-color: #F2F5F0;
}

/* terms */

.terms-wrap{
    background-color: #F2F5F0;
}