/* partner :start */
.partner-bg{
    background-color: #F2F5F0;
}
.partner-h1{
    font-size: 3rem;
}
.partner-heading{
    margin-top: 80px;
}
.partner-h3{
    font-size: 1.9rem;
    margin-top: 55px;
    margin-bottom: 40px;
}
/* partner card */
.white-container {
    background-color: white;
    /* max-width: 650px!important; */
    margin: 0 10px 10px;
    border-bottom: 41px solid #f7f7f7;
    padding: 24px;
    box-shadow: 0px 3px 5px #5050503d;
}
.partner-card-a{
    color: #F95710;
    text-decoration: none;
}
.partner-p{
    font-size: 1.4rem;
    line-height: 1.55;
}

/* partner end */